<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
<p style="margin-bottom: 25px;">There has been a new user account registration for <%= newUseradmin1name %> Region, <%= newUseradmin2name %> Zone, <%= newUseradmin3name %> Woreda, with the details below;
  <div style="margin-bottom: 25px;">
    <ul>
      <li>Name: <%= newUserfullName %></li>
      <li>Number: <%= newUserphoneNumber %></li>
      <li>Email: <%= newUseremailAddress %></li>
      <li>Position: <%= newUserposition %></li>
      <li>Location: <%= newUseradmin1name %> Region, <%= newUseradmin2name %> Zone, <%= newUseradmin3name %> Woreda.</li>
    </ul>
  </div>
If you recognize this user, click the button below to confirm the email address and to enable this account:</p>
<div style="margin-bottom: 25px; text-align: center;">
  <a style="background-color: #28AFB0; display: inline-block; font-size: 1.1em; color: #fff; padding: 10px 35px 10px; font-weight: 500; text-decoration: none; border-radius: 7px;" href="<%= confirmUrl %>">Confirm email</a>
</div>
<p style="margin-bottom: 25px;">If you have any trouble, try pasting this link in your browser: <a style="color: #28AFB0; word-wrap: break-word;" href="<%= confirmUrl %>"><%= confirmUrl %></a></p>
<p style="margin-bottom: 5px;">Regards,</p>
<p style="margin-top: 0px;">ephiPulse</p>
