<div id="forms-list" v-cloak>

  <!-- container / header -->
  <div class="container">

    <!-- header -->
    <div class="page-header text-center">
      <h3>{{form.form_name}}</h3>
    </div>
    <p class="text-center">Report. Validate. Protect.</p>

    <!-- add record -->
    <div class="header-buttons text-center" style="padding-bottom: 10px;">
      <button class="btn btn-outline-primary" @click="clickAddButton()">Add Record</button>
    </div>

    <!-- alert -->
    <div id="alert-msg" class="alert alert-success" role="alert">
      Record Successfully {{ formSaveLabel }}d!
    </div>

    <!-- if records, show list -->
    <div v-if="!records.length" class="text-center">
      <p>No records found.</p>
    </div>

    <!-- if records, show list -->
    <div v-if="records.length" style="padding-top:20px;">
      <!-- records list -->
      <div style="padding-bottom:20px;">
        <div class="card sm-12">
          <div class="card-header">
            <!-- <h5>Pending Validation</h5> -->
            <h5>Pending Validation</h5>
          </div>
          <div cass="card-body" style="padding:20px;">

            <!-- ODK form partials to display table -->
            <!-- for each new form, a new partial is reeuired -->
            <table class="table table-striped" id="record-list-pending-validation-table">
              <%- include('partials/tables/'+ form.form_name + '-table') %>
            </table>

          </div>
        </div>
      </div>
      <!-- records list -->
      <div v-if="false" class="card sm-12">
        <div class="card-header">
          <h5>Validated</h5>
        </div>
        <div cass="card-body" style="padding:20px;">

          <!-- ODK form partials to display table -->
          <!-- for each new form, a new partial is reeuired -->
          <%- include('partials/tables/'+ form.form_name + '-table') %>

        </div>
      </div>
    </div>

  </div>


  <% /* "View / Update record" modal */ %>
  <modal v-if="editViewRecordModalOpen && selectedRecord" v-cloak key="update" @close="closeModalOpen()">
    <div class="modal-header">
      <h5 class="modal-title">{{ form.form_name }}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="addUpdateRecord"
                :syncing.sync="syncing"
                :cloud-error.sync="cloudError"
                :handle-parsing="handleParsingAddUpdateRecordForm"
                @submitted="submittedAddUpdateRecordForm()">
      <div class="modal-body">

        <!-- ODK form defaults (location) -->
        <!-- for each new form, location is required -->

        <!-- location -->
        <h5 class="text-center">Location</h5>
        <hr/>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="admin1pcode">{{ admin1List[ 0 ].admin1type_name }}</label>
            <select class="form-control" id="admin1pcode" v-model.trim="selectedRecord.admin1pcode" :class="[formSubmitAttempt && !selectedRecord.admin1pcode ? 'is-invalid' : '']" @change="adminChange('admin1')" :disabled="isDisabled()">
              <option value="undefined" disabled>Select {{ admin1List[ 0 ].admin1type_name }}...</option>
              <option v-for="d in admin1List" v-bind:value="d.admin1pcode">
                {{ d.admin1name }}
              </option>
            </select>
            <div class="invalid-feedback" v-if="formSubmitAttempt && !selectedRecord.admin2pcode">Please enter {{ admin1List[ 0 ].admin1type_name }}.</div>
          </div>
          <div class="form-group col-md-3">
            <label for="admin2pcode">{{ admin2List[ 0 ].admin2type_name }}</label>
            <select class="form-control" id="admin2pcode" v-model.trim="selectedRecord.admin2pcode"  :class="[formSubmitAttempt && !selectedRecord.admin2pcode ? 'is-invalid' : '']" @change="adminChange('admin2')" :disabled="!selectedRecord.admin1pcode || isDisabled()">
              <option value="undefined" disabled>Select {{ admin2List[ 0 ].admin2type_name }}...</option>
              <option v-for="d in admin2ListFilter" v-bind:value="d.admin2pcode">
                {{ d.admin2name }}
              </option>
            </select>
            <div class="invalid-feedback" v-if="formSubmitAttempt && !selectedRecord.admin2pcode">Please enter {{ admin2List[ 0 ].admin2type_name }}.</div>
          </div>
          <div class="form-group col-md-3">
            <label for="admin3pcode">{{ admin3List[ 0 ].admin3type_name }}</label>
            <select class="form-control" id="admin3pcode" v-model.trim="selectedRecord.admin3pcode"  :class="[formSubmitAttempt && !selectedRecord.admin3pcode ? 'is-invalid' : '']" @change="adminChange('admin3')" :disabled="!selectedRecord.admin2pcode || isDisabled()">
              <option value="undefined" disabled>Select {{ admin3List[ 0 ].admin3type_name }}...</option>
              <option v-for="d in admin3ListFilter" v-bind:value="d.admin3pcode">
                {{ d.admin3name }}
              </option>
            </select>
            <div class="invalid-feedback" v-if="formSubmitAttempt && !selectedRecord.admin3pcode">Please enter {{ admin2List[ 0 ].admin3type_name }}.</div>
          </div>
          <div class="form-group col-md-3">
            <label for="site_id">Health Facilities</label>
            <select class="form-control" id="site_id" v-model.trim="selectedRecord.site_id" :disabled="!selectedRecord.admin3pcode || isDisabled()">
              <option value="undefined" disabled>Select Health Facility...</option>
              <option v-for="d in adminsitesListFilter" v-bind:value="d.site_id">
                {{ d.site_name }}
              </option>
            </select>
          </div>
        </div>

        <!-- ODK form specific detail message -->
        <!-- for each new form, a new partial is reeuired -->
        <table class="table table-striped" id="record-list-validated-table">
          <%- include('partials/modals/add-update/'+ form.form_name + '-add-update') %>
        </table>

      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Cancel</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1" :disabled="isDisabled()">{{ formSaveLabel }}</ajax-button>
      </div>
    </ajax-form>
  </modal>


  <% /* "Delete record" modal */ %>
  <modal v-if="confirmRemoveRecordModalOpen && selectedRecord" v-cloak key="delete" @close="closeModalOpen()">
    <div class="modal-header">
      <h5 class="modal-title">Remove Record?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="removeRecord"
                :syncing.sync="syncing"
                :cloud-error.sync="cloudError"
                :handle-parsing="handleParsingDeleteRecordForm"
                @submitted="submittedDeleteRecordForm()">
      <div class="modal-body">
        <h5>Warning!</h5>
        <p>This action cannot be undone! Are you sure you want to remove this record?</p>

        <!-- ODK form specific detail message -->
        <!-- for each new form, a new partial is reeuired -->
        <%- include('partials/modals/remove/'+ form.form_name + '-remove') %>

      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Cancel</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1" :disabled="isDisabled()">Yes, Remove</ajax-button>
      </div>
    </ajax-form>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
